{% extends 'main.html' %}
{% block content %}

{% include 'chain.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

{% include 'profile.html' %}
<div style="height:10px;"></div>
<div class="box1 new_box"></div>
<div style="height:42px;"></div>

<body>

<div class="context" style="">
     <div class="about" style="margin:auto;font-size:15.1px;">

         <h5><b>Education</b></h5>
        <legend class="border-bottom border-dark mb-1" style="width:100px;"></legend>
                {% for educations in education %}
         {% if educations.total_date %}
         <p class="word">{{ educations.total_date }}</p>
         {% endif %}
         <p style="white-space: pre-line;"><b>{{ educations.name }}</b>
                    {{ educations.description }}
                    Date of Award: {{ educations.date }}{% if educations.gpa %}
                    <b>Major</b>: {{ educations.major }}
                    <b>GPA</b>: {{ educations.gpa }}{% endif %}{% endfor %}
             <b>For level 7 and 8</b>
             Be able to specialise in a range of areas such as forensic computing, cyber security and etc.
             </p>

                    <!--matplotlib-->
<!--         <img src="data:image/png;base64,{{ a }}" alt="" style="width:480px;height:400px;">-->
         <br>
         <div class="row">
            {% for education in edu %}


             <div style="width:200px;margin-bottom:22px;">
                 <a style="text-decoration:none;" href="{{education.url}}" target="_blank">
             <img src="{{ education.image.url }}" alt="" style="width:170px;height:170px;margin-bottom:8px;border-radius:5.7%;object-fit:cover;">
             <center><p style="min-width:170px;line-height:210%;">{{ education.title }}
       <a target="_blank" class="animation2 na btn btn-sm btn-outline-primary mb-3" href="{{education.url}}">View</a></p>
             </center>
                     </a>
                 </div>


             {% endfor %}
         </div>
</div>
</div>
    </body>


<footer style="height:200px;"></footer>

{% endblock %}