{% extends 'main.html' %}
{% block content %}

{% include 'chain.html' %}


{% include 'profile.html' %}
<div style="height:10px;"></div>
<div class="box1 new_box"></div>
<div style="height:42px;"></div>


<div class="context" style="width: 48%;">


    <div class="about" style="margin:auto;max-width:590px;font-size:15.1px;">

        <div style="display:flex;margin:auto;max-width:350px;min-width:170px;font-size:15.1px;justify-content: center;">

            
            <a href="" class="pro1 animation2 btn btn btn-outline-info" style="margin-right: 20px;height: 60px;padding: 14px;">
                Work Projects</a>
            
            <a href="" class="pro1 animation2 btn btn btn-outline-info" style="height: 60px;padding: 14px;">
                Personal Projects</a>
        </div>





    </div>
</div>




<footer style="height:150px;"></footer>

{% endblock %}