{% extends 'main.html' %}
{% block content %}


{% include 'chain.html' %}


{% include 'profile.html' %}
<div style="height:10px;"></div>
<div class="box1 new_box"></div>
<div style="height:42px;"></div>


<div class="context" style="width: 48%;">


    <div class="about" style="margin:auto;max-width:590px;font-size:15.1px;">

        <h5 style="font-weight: bold;">{{ context.work_project.title }}</h5>
            <legend class="border-bottom border-dark mb-1" style="width:525px;"></legend>
        




    </div>

    
</div>



{% endblock %}