{% extends 'main.html' %}
{% block content %}

{% include 'chain.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

{% include 'profile.html' %}
<div style="height:10px;"></div>
<div class="box1" style="height:1px;border-radius: 50%;margin:auto;max-width:290px;"></div>
<div style="height:42px;"></div>



<div class="context" style="width: 48%;">


    <div class="about" style="margin:auto;max-width:590px;">
                {% for works in context.work %}
                    <h5 style="font-weight: bold;">{{ works.title }}</h5>
                    <legend class="border-bottom border-dark mb-3" style="width:525px;"></legend>

                    <div>
                        {{ works.description }}

                        <img src="{{ wroks.image.url }}" alt="">

                    </div>

                {% endfor %}
</div>


</div>


{% endblock %}
