{% extends 'main.html' %}
{% block content %}

{% include 'chain.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

{% include 'profile.html' %}
<div style="height:10px;"></div>
<div class="box1" style="height:1px;border-radius: 50%;margin:auto;max-width:290px;"></div>
<div style="height:42px;"></div>



<div class="context" style="width: 48%;">


    <div class="about" style="margin:auto;max-width:590px;font-size:15.1px;">
                {% for works in context.work %}

                
                <h5 style="font-weight: bold;">{{ works.title }}</h5>
                <legend class="border-bottom border-dark mb-1" style="width:525px;"></legend>


    <p style="white-space: pre-line;"><span style="font-weight: bold;">Start Date - End Date:</span>  {{ works.date }} - {{ works.end_date }}
    <span style="font-weight: bold;">Role:</span> {{ works.role }}
    </p>
              <br>  

                    

                        <div class="work_image">
                            <img src="{{ works.image.url }}" alt="" style="
                            min-width: 240px; height:200px;margin-left: 15px;margin-bottom: 15px;">
                            </div>




                        <div style="width: 100%;">
                        <p>
                        {{ works.description }}
                        </p>

                        <p style="margin-top: 30px;">
                            Technologies that use are: 
                            <span style="font-weight: bold;">{{ works.tech }}</span>
                        </p>
                        </div>
                        
<p style="white-space: pre-line;"><span style="font-weight: bold;">Company-Page: </span><a class="plink" href="{{ works.url }}">CUBE Design & SNI</a>
    <span style="font-weight: bold;">Location: </span><a class="plink" href="{{ works.location }}">Myanmar, Bahan Sayar San, Yangon</a>



</p>
                        

                    </div>

                {% endfor %}
</div>


</div>



<footer style="height:200px;"></footer>

{% endblock %}
